.lesson-four-task-one button:hover {
  color: red;
  background-color: yellow;
}

.link:hover + .title {
  color: green;
}

a[href='#lesson-four-task-three']:visited {
  color: yellow;
}

a[href='#sidebar']:link {
  color: red;
}

.lesson-four-task-five > .btn.btn:active {
  background-color: blue;
}

.lesson-four-task-six > .btn:focus {
  background-color: orange;
  color: orange;
}

div:target {
  color: white;
  background-color: green;
}

#checkbox:checked ~ #target {
  color: white;
  background-color: blue;
}

p:lang(uk) {
  color: blue;
}

.lesson-four-task-ten input:enabled {
  color: red;
  background-color: yellow;
}

.lesson-four-task-eleven input:disabled {
  background-color: yellow;
}

.lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

.lesson-four-task-thirteen input:read-only {
  background-color: yellow;
}

.lesson-four-task-fourteen input:valid {
  background-color: green;
}

.lesson-four-task-fourteen input:invalid {
  background-color: red;
}

.lesson-four-task-fifteen textarea:optional {
  background-color: red;
}

.lesson-four-task-sixteen input:out-of-range {
  background-color: red !important;
}

.lesson-four-task-seventeen input:in-range {
  background-color: red !important;
}

.lesson-four-task-eighteen input::placeholder {
  color: red;
}

.lesson-four-task-nineteen button:focus-within {
  color: white;
  background-color: yellow;
}

.lesson-four-task-twenty input:invalid {
  background-color: red;
}
